<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="AppLuna/formulario/" method="POST">

              <p>Dueño: <input type="text" name="Dueño"></p>

              <p>Perro: <input type="text" name="Perro"></p>
              <p>Gato: <input type="text" name="Gato"></p>
              <p>Roedor: <input type="text" name="Roedor"></p>

              <input type="submit" value="Enviar">




    </form>

</body>
</html>